<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/sideMenu/sideMenu.css">
<script src="/js/sideMenu/sideMenu.js"></script>
</head>
<header>
	<div class="wrap">
		<input sec:authorize="isAuthenticated()" type="hidden" th:id="userID" th:value="${#authentication.principal.no}">
		<ul class="menuForm">
			<li><a href="/" class="logoImg"> <!-- 로고이미지 -->
			</a></li>
			<li sec:authorize="isAnonymous()">[사원 사진 넣을 곳]</li>
			<li sec:authorize="isAnonymous()">[이름]/[사번]</li>
			<li sec:authorize="isAnonymous()">[담당부서]/[직급]</li>
			<li sec:authorize="isAnonymous()"><a href="/login">로그인</a></li>
			<li sec:authorize="isAuthenticated()">[사원 사진 넣을 곳]</li>
			<li sec:authorize="isAuthenticated()" th:text="${#authentication.principal.name} + '/' + ${#authentication.principal.no}">[이름]/[사번]</li>
			<li sec:authorize="isAuthenticated()" th:text="${#authentication.principal.departmentNo.departmentName} + '/' + ${#authentication.principal.position.label}">[담당부서]/[직급]</li>
			<li sec:authorize="isAuthenticated()"><a href="/logout">로그아웃</a></li>
			<li>
				<dl class="menuList">
					<dt>조직도</dt>
					<dd>
						<a href="/ozc/groupList">리스트</a>
					</dd>
					<dd>
						<a href="/Organization/regist">등록</a>
					</dd>
				</dl>
			</li>
			<li>
				<dl class="menuList">
					<dt>인사 관리</dt>
					<dd>
						<a href="/personnelSchedule">일정관리</a>
					</dd>
					<dd>
						<a href="#">업무관리</a>
					</dd>
					<dd>
						<a href="#">인사관리</a>
					</dd>
				</dl>
			</li>
			<li>
				<dl class="menuList">
					<dt>근태 및 결재</dt>
					<dd>
						<a href="/attendanceList">근태 리스트</a>
					</dd>
					<dd>
						<a href="/myAttendance">내 근태 및 휴가</a>
					</dd>
					<dd>
						<a href="/dayoff">휴가신청 작성</a>
					</dd>
				</dl>
			</li>
			<li>
				<dl class="menuList">
					<dt>게시판</dt>
					<dd>
						<a href="/Board/noticeList">공지사항</a>
					</dd>
					<dd>
						<a href="/Board/cncList">경조사</a>
					</dd>
					<dd>
						<a href="/Board/suggestionList">건의 게시판</a>
					</dd>
				</dl>
			</li>
			<li>
				<dl class="menuList">
					<dt>마이페이지</dt>
					<dd>
						<a href="/employeeMgmt/mypage">마이페이지</a>
					</dd>
				</dl>
			</li>
		</ul>
	</div>
</header>
</html>