<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/sideMenu/sideMenu.css">
<script src="/js/sideMenu/siedMenu.js"></script>
</head>
<header>
	<div class="wrap">
		<ul class="menuForm">
			<li></li>
			<li><a href="#">HOME</a></li>
			<li>
				<dl class="menuList">
					<dt>직원관리</dt>
					<dd>
						<a href="#">부제목1</a>
					<dd>
					<dd>
						<a href="#">부제목2</a>
					<dd>
					<dd>
						<a href="#">부제목3</a>
					<dd>
				</dl>
			</li>
			<li>
				<dl class="menuList">
					<dt>직원 근태 관리</dt>
					<dd>
						<a href="#">부제목1</a>
					<dd>
					<dd>
						<a href="#">부제목2</a>
					<dd>
					<dd>
						<a href="#">부제목3</a>
					<dd>
				</dl>
			</li>
			<li>
				<dl class="menuList">
					<dt>통합 게시판</dt>
					<dd><a href="/Board/notice-list">공지사항</a>
					<dd>
					<dd><a href="/Board/suggestion-list">건의 게시판</a>
					<dd>
					<dd><a href="/Board/free-list">자유 게시판</a>
					<dd>
					<dd><a href="/employeeMgmt/mypage">잠시 여기 둡니다 마이페이지</a>
					<dd>
				</dl>
			</li>

		</ul>
	</div>
</header>
</html>