<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" href="/css/board/board-list.css">
<link rel="stylesheet" href="/css/commons/common.css" />
<link rel="stylesheet" href="/css/commons/reset.css" />
<th:block th:insert="~{/layout/sideMenu :: head}" />
<style type="text/css">
</style>
</head>
<main>
	<th:block th:insert="~{/layout/sideMenu :: header}" />
	<div class="wrap list-1">
		<section>
			<div class="flex center">
				<p>공지사항</p>
			</div>
			<div class="block" sec:authorize="isAnonymous()"></div>
			<a sec:authorize="isAuthenticated()" class="flex right list-button"
				href="/Board/noticeWrite">글쓰기</a>
			<div class="flex center back-list">
				<table class="list-table">
					<tr class="list-2">
						<th>글번호</th>
						<th>제목</th>
						<th>작성자</th>
						<th>작성일</th>
					</tr>
					<tr th:if="${nullcheck == true}">
						<td colspan="5">해당 게시판에 등록된 글이 없습니다.</td>
					</tr>
					<tr th:if="${nullcheck == false}" th:each="list : ${noticeList}">
						<td th:text="${list.noticeNo}">번호</td>
						<td><a th:href="@{/noticeDetail(noticeNo=${list.noticeNo})}">[[${list.title}]]</a></td>
						<td th:text="${list.registNo.name}">관리자</td>
						<td th:text="${#temporals.format(list.createDate,'yyyy/MM/dd hh:mm')}"></td>
					</tr>

				</table>
				<!-- <div th:if="${p.getNumberOfElements()>0}">
	    			<a th:if="${p.hasPrevious()}" th:href="|/comm/board-list?page=${p.getNumber()}|">&lt;</a>
	    			<span th:text="${p.getNumber()+1}">현재페이지</span>
	    			/
	    			<span th:text="${p.getTotalPages()}">총페이지수</span> 
	    			<a th:if="${p.hasNext()}" th:href="|/comm/board-list?page=${p.getNumber()+2}|">&gt;</a>
    			</div> -->
			</div>
		</section>
	</div>
</main>
</html>