<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/board/board-write.css">
<script type="text/javascript" src="https://livejs.com/live.js"></script>
<style type="text/css">
</style>
<body>
    <main>
   		<div>
   			<p>건의사항 작성</p>
   		</div>
   		<div>
    		<form>
    			<table>
    				<tr>
    					<td>
    						<input type="text" name="title" placeholder="제목입력">
    					</td>
    				</tr>
    				<tr>
    					<td>
    						<textarea rows="27" cols="63" name="content" placeholder="내용을 입력하세요"></textarea>
    					</td>
    				</tr>
    				<tr>
    					<td>
							<button>등록</button>
    					</td>
    				</tr>
    			</table>
    		</form>
   		</div>
    </main>
</body>
</html>