<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" href="/css/commons/common.css" />
<link rel="stylesheet" href="/css/commons/reset.css" />
<link rel="stylesheet" href="/css/organizationChart/familyTree.css">
<th:block th:insert="~{/layout/sideMenu :: head}" />
<script type="text/javascript">
	$(function(){
	});
</script>
</head>
<main>
	<!-- 230110 한아 작성 -->
	<th:block th:insert="~{/layout/sideMenu :: header}" />
	<section>
		<h2 class="title flex center">Good Trip 조직도</h2>
		<div class="image-tree">
			<div class="ceo-info">
				<div class="position flex center">
					<p>CEO</p>
				</div>
				<div class="ceo-detail" >
					<img alt="" th:src="|${ceoImg}|" class="ceo-img" th:onclick="|location.href='/ozc/groupDetail/${ceo.no}'|">
					<div th:onclick="|location.href='/ozc/groupDetail/${ceo.no}'|">
						<p class="dname">[[${ceo.departmentNo.DepartmentName}]]</p>
						<p>[[${ceo.name}]]</p>
					</div>
				</div>				
			</div>
			<div class="departmenthead-info">
				<div class="position flex center">
					<p>부서장</p>
				</div>
				<div>
					<div class="flex">
						<div th:each="img : ${images}" class="department-head" >
							<img alt="" th:src="|${img}|" class="ceo-img">
						</div>
					</div>
					<div class="flex">
						<div th:each="department : ${department}" class="department-head">
							<p th:value="${department.departmentName}" class="dname">[[${department.departmentName}]]</p>
							<p th:value="${department.departmentHead}">[[${department.departmentHead}]]</p>
						</div>
					</div>
				</div>
				<div class="head-no flex">
					<div th:each="no : ${no}" th:onclick="|location.href='/ozc/groupDetail/${no}'|">
						<div th:value=${no}></div>
					</div>
				</div>				
			</div>
		</div>
		<div>
			<h4>부서원 조회 바로가기</h4>
		</div>
		<div class="department-name flex" >
			<div><a href="/ozc/groupList">전체</a></div>
			<div th:each="department : ${department}" >
				<a class="department" th:href="|/ozc/groupList/${department.departmentNo}|">[[${department.departmentName}]]</a>
			</div>
			
		</div>
	</section>
</main>
</html>