<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

		<section>
			<div class="flex center back-list">
				<table class="list-table">
					<tr class="list-2">
						<th>사원명</th>
						<th>부서</th>
						<th>직급</th>
						<th>내선번호</th>
						<th>주업무</th>
					</tr>
					<tbody id="emp-list">
						<tr th:if="${nullcheck == true}">
							<td colspan="5">해당 부서에 등록된 사원이 없습니다.</td>
						</tr>
						<tr th:if="${nullcheck == false}" th:each="list : ${list2}">
							<td><a th:href="|/ozc/groupDetail/${list.no}|">[[${list.name}]]</a></td>
							<td th:text="${list.departmentNo.departmentName}">부서</td>
							<td th:text="${list.position.label}">직급</td>
							<td th:text="${list.extension}">내선번호</td>
							<td th:text="${list.mainWork}">주업무</td>
				            <!-- 수민 추가! css 사용해서 조직도에는 안보이게 했습니다!  -->
				           	<td class="group-non" style="color: rgb(1, 20, 190)" th:if="${list.empGrade == null}" th:text="평가안함">등급</td>
					        <td class="group-non" th:if="${list.empGrade != null}" th:text="${list.empGrade}" >등급</td>
					        <td class="group-non"> 
					        	<a th:href="|/personnelEva/${list.no}|">인사평가</a>					
				          	</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	
</html>