<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/sideMenu/mypage.css">
<link rel="stylesheet" href="/css/commons/common.css" />
<link rel="stylesheet" href="/css/commons/reset.css" />
	<th:block th:insert="~{/layout/sideMenu :: head}" />
</head>
<main>
	<th:block th:insert="~{/layout/sideMenu :: header}" />
	<div class="wrap mypage-1">
		<div class="flex center page-title">
			<p>사원 상세페이지</p>
		</div>
		<table class="mypage-table">
			<tr><td>사진</td>
				<td><img src="/image/icon/profile.jpg"></td>
			</tr>
			<tr>
				<td>사원번호</td>
				<td>00001</td>
			</tr>
			<tr>
				<td>부서번호</td>
				<td>02</td>
			</tr>
			<tr>
				<td>이름</td>
				<td>김대리</td>
			</tr>
			<tr>
				<td>이메일</td>
				<td>test01@test.com</td>
			</tr>
			<tr>
				<td>직급</td>
				<td>부장</td>
			</tr>
			<tr>
				<td>연락처</td>
				<td>010-9999-0000</td>
			</tr>
			<tr>
				<td>입사일</td>
				<td>2022.01.05</td>
			</tr>
			<tr>
				<td>퇴사일</td>
				<td>2022.01.05</td>
			</tr>
			<tr>
				<td>내선번호</td>
				<td>4050</td>
			</tr>
			<tr>
				<td>생년월일</td>
				<td>1930.02.29</td>
			</tr>
			<tr>
				<td>주업무</td>
				<td>밥묵기</td>
			</tr>
		</table>
		<div class="back-1">
			<a class="flex center" href="/ozc/groupList">뒤로가기</a>
		</div>
	</div>
</main>
</html>