<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" href="/css/commons/common.css" />
<link rel="stylesheet" href="/css/commons/reset.css" />
<link rel="stylesheet" href="/css/organizationChart/groupListRetirement.css">
<th:block th:insert="~{/layout/sideMenu :: head}" />
<script src="/js/organization/organizationList.js"></script>
</head>
<main>
	<!-- 230110 한아 수정 -->
	<th:block th:insert="~{/layout/sideMenu :: header}" />
	<div class="wrap list-1">
		<section>
			<div class="flex center">
				<a href="/ozc/groupList">조직도</a>
			</div>
			<div class="flex right">
			    <a class="retired-list" href="/ozc/groupList">전체 사원 조회</a>
		    </div>
			<div class="flex center back-list">
				<table class="list-table">
					<tr class="list-2">
						<th>사원명</th>
						<th>부서</th>
						<th>직급</th>
						<th>내선번호</th>
						<th>주업무</th>
					</tr>
					<tbody id="emp-list">
						<tr th:each="list : ${list1}">
							<td><a th:href="|/ozc/groupDetail/${list.no}|">[[${list.name}]]</a></td>
							<!-- <td th:onclick="|location.href='/ozc/groupDetail/${list.no}'|" th:text="${list.name}">사원명</td> -->
							<td th:text="${list.departmentNo.departmentName}">부서</td>
							<td th:text="${list.position.label}">직급</td>
							<td th:text="${list.extension}">내선번호</td>
							<td th:text="${list.mainWork}">주업무</td>
						</tr>
					</tbody>
				</table>
				<!-- <div th:if="${p.getNumberOfElements()>0}">
	    			<a th:if="${p.hasPrevious()}" th:href="|/comm/board-list?page=${p.getNumber()}|">&lt;</a>
	    			<span th:text="${p.getNumber()+1}">현재페이지</span>
	    			/
	    			<span th:text="${p.getTotalPages()}">총페이지수</span> 
	    			<a th:if="${p.hasNext()}" th:href="|/comm/board-list?page=${p.getNumber()+2}|">&gt;</a>
    			</div> -->
			</div>
		</section>
	</div>
</main>
</html>