<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" href="/css/commons/common.css" />
<link rel="stylesheet" href="/css/commons/reset.css" />
<link rel="stylesheet" href="/css/organizationChart/groupList.css">
<th:block th:insert="~{/layout/sideMenu :: head}" />
<script type="text/javascript">
function departmentClicked(){
	department=$("#department option:selected").val();
	if(department!=0)
		location.href="/ozc/groupList/"+department;
	else location.href="/ozc/groupList";
}

</script>
</head>
<main>
	<!-- 230110 한아 수정 -->
	<th:block th:insert="~{/layout/sideMenu :: header}" />
	<div class="wrap list-1">
		<section>
			<div class="flex center">
				<a href="/ozc/groupList">조직도</a>
			</div>
			<div class="wrap-1">
				<form class="flex center group-form" >
			      <select id="department" onchange="departmentClicked()">
					<option value="0">전체부서</option>
					<option th:each="departments : ${department}" th:value="${departments.departmentNo}" th:utext="${departments.departmentName}" th:selected="${departmentNo}==${departments.departmentNo}"></option>
				</select>
			      
			    </form>
			    <a class="familytree" href="/ozc/familytree">Family Tree</a>
			    <a class="retired" href="/ozc/groupList/retirement">퇴직한 사원 조회</a>
		    </div>
			<div class="flex center back-list">
				<table class="list-table">
					<tr class="list-2">
						<th>사원명</th>
						<th>부서</th>
						<th>직급</th>
						<th>내선번호</th>
						<th>주업무</th>
					</tr>
					<tbody id="emp-list">
						<tr th:if="${nullcheck == true}">
							<td colspan="5">해당 부서에 등록된 사원이 없습니다.</td>
						</tr>
						<tr th:if="${nullcheck == false}" th:each="list : ${list2}">
						<td><a th:href="|/ozc/groupDetail/${list.no}|">[[${list.name}]]</a></td>
						<td th:text="${list.departmentNo.departmentName}">부서</td>
						<td th:text="${list.position.label}">직급</td>
						<td th:text="${list.extension}">내선번호</td>
						<td th:text="${list.mainWork}">주업무</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>
</main>
</html>