<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" href="/css/sideMenu/mypage.css">
<link rel="stylesheet" href="/css/commons/common.css" />
<link rel="stylesheet" href="/css/commons/reset.css" />
<th:block th:insert="~{/layout/sideMenu :: head}" />
<style type="text/css">
.imggg{background-size: 100px;
	background-size: cover;
    background-position: center center;
    display: inline-block;
    width: 100px;
    height: 100px;}
</style>
</head>
<main>
	<!-- 230112 한아 수정 -->
	<th:block th:insert="~{/layout/sideMenu :: header}" />
	<div class="wrap mypage-1">
		<div class="flex center page-title">
			<p>사원 상세페이지</p>
		</div>
		<table class="mypage-table">
			<tr>
				<td>사진</td>
				<td><img class="imggg" th:style="|background-image: url('${list.imgUrl}');|" ></td>
			</tr>
			<tr>
				<td>사원번호</td>
				<td>[[${list.no}]]</td>
			</tr>
			<tr>
				<td>부서이름</td>
				<td>[[${list.departmentName}]]</td>
			</tr>
			<tr>
				<td>이름</td>
				<td>[[${list.name}]]</td>
			</tr>
			<tr>
				<td>이메일</td>
				<td>[[${list.email}]]</td>
			</tr>
			<tr>
				<td>직급</td>
				<td>[[${list.position}]]</td>
			</tr>
			<tr>
				<td>연락처</td>
				<td>[[${list.phone}]]</td>
			</tr>
			<tr>
				<td>입사일</td>
				<td>[[${list.joinDate}]]</td>
			</tr>
			<tr>
				<td>내선번호</td>
				<td>[[${list.extension}]]</td>
			</tr>
			<tr>
				<td>생년월일</td>
				<td>[[${list.birthDate}]]</td>
			</tr>
			<tr>
				<td>주업무</td>
				<td>[[${list.mainWork}]]</td>
			</tr>
		</table>
		<div class="back-1 flex between">
			<div class="">
				<a class="" href="/ozc/groupList">뒤로가기</a>
			</div>
			<div sec:authorize="hasRole('ROLE_PERSONAL')">
				<a th:href="|/role/manager/${list.no}|">수정권한부여</a>
				<a th:href="|/role/employee/${list.no}|">수정권한제거</a>
				<a href="/ozc/groupList">퇴직처리</a>
				<a href="/ozc/groupList">퇴직취소</a>
			</div>
		</div>
	</div>
</main>
</html>