<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/organizationChart/groupList.css">
<link rel="stylesheet" href="/css/commons/common.css" />
<link rel="stylesheet" href="/css/commons/reset.css" />
<th:block th:insert="~{/layout/sideMenu :: head}" />
<script type="text/javascript" src="https://livejs.com/live.js"></script>
<style type="text/css">
</style>
</head>
<main>
	<th:block th:insert="~{/layout/sideMenu :: header}" />
	<div class="wrap list-1">
		<section>
			<div class="flex center">
				<p>조직도</p>
			</div>
		<form class="flex center group-form">
	      <select>
	        <option>부서</option>
	        <option>경영지원팀</option>
	        <option>상품기획팀</option>
	        <option>예시입니다</option>
	      </select>
	    </form>
			<a class="flex right list-button" href="/ozc/groupDetail">디테일페이지</a>
			<div class="flex center back-list">
				<table class="list-table">
					<tr class="list-2">
						<th>사원 명</th>
						<th>직급</th>
						<th>부서</th>
						<th>내선번호</th>
					</tr>
					<tr>
						<td>김사탕</td>
						<td>부장</td>
						<td>경영지원팀</td>
						<td>4050</td>
					</tr>
					<tr>
						<td>김예시</td>
						<td>대리</td>
						<td>예시입니다</td>
						<td>4050</td>
					</tr>
					<tr>
						<td>김사탕</td>
						<td>부장</td>
						<td>경영지원팀</td>
						<td>4050</td>
					</tr>
				</table>
				<!-- <div th:if="${p.getNumberOfElements()>0}">
	    			<a th:if="${p.hasPrevious()}" th:href="|/comm/board-list?page=${p.getNumber()}|">&lt;</a>
	    			<span th:text="${p.getNumber()+1}">현재페이지</span>
	    			/
	    			<span th:text="${p.getTotalPages()}">총페이지수</span> 
	    			<a th:if="${p.hasNext()}" th:href="|/comm/board-list?page=${p.getNumber()+2}|">&gt;</a>
    			</div> -->
			</div>
		</section>
	</div>
</main>
</html>