<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/personnel/schedule.css">
<link rel="stylesheet" href="/css/commons/common.css" />
<link rel="stylesheet" href="/css/commons/reset.css" />
<th:block th:insert="~{/layout/sideMenu :: head}" />
<script src="/js/schedule/schedule.js"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main>
		<th:block th:insert="~{/layout/sideMenu :: header}" />
		<div class="calender-1 wrap">
			<div class="flex center">
				<p>일정 관리</p>
			</div>
			<table id="calendar" border="3">
			    <tr>
			        <td>
			      	  <label onclick="prevCalendar()"><p><</p></label>
			        </td>
			        <td id="tbCalendarYM" colspan="5">
			      	  yyyy년 m월
			        </td>
			        <td>
			       		<label onclick="nextCalendar()">></label>
			        </td>
			    </tr>
			    <tr>
			        <td align="center"><font color ="#F79DC2">일</td>
			        <td align="center">월</td>
			        <td align="center">화</td>
			        <td align="center">수</td>
			        <td align="center">목</td>
			        <td align="center">금</td>
			        <td align="center"><font color ="skyblue">토</td>
		    	</tr>
			</table>
		</div>
		<script language="javascript" type="text/javascript">
		    buildCalendar();
		</script>
	</main>
</body>
</html>