<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" href="/css/commons/common.css" />
<link rel="stylesheet" href="/css/commons/reset.css" />
<link rel="stylesheet" href="/css/organizationChart/groupList.css">
<link rel="stylesheet" href="/css/personnelEva/personnelEva.css">
<th:block th:insert="~{/layout/sideMenu :: head}" />
<script src="/js/personnerlEva/personnerlEva.js"></script>
<script src="/js/board/CNCEdit.js"></script>
</head>
<main>
	<th:block th:insert="~{/layout/sideMenu :: header}" />
	<div class="wrap list-1">
		<section>
			<div class="flex center">
				<a href="/personnelEvaList">인사 평가 리스트</a>
			</div>
			<div class="wrap-1">
				<form class="flex center group-form" >
			      <select id="department" onchange="departmentClicked()">
						<option value="0" selected>부서별조회</option>
						<option th:each="departments : ${department}" th:value="${departments.departmentNo}" th:utext="${departments.departmentName}"></option>
					</select>
	   			 </form>
	   		</div>
			<div class="flex center back-list">
				<table class="list-table">
					<tr class="list-2">
						<th>사원명</th>
						<th>부서</th>
						<th>직급</th>
						<th>내선번호</th>
						<th>주업무</th>
						<th>등급</th> 
						<th>인사평가</th>
					</tr>
					<tbody id="emp-list">
						<tr th:if="${nullcheck == false  }" th:each="list : ${list1}">
							<td><a>[[${list.name}]]</a></td>
							<!-- <td th:onclick="|location.href='/ozc/groupDetail/${list.no}'|" th:text="${list.name}">사원명</td> -->
							<td th:text="${list.departmentNo.departmentName}">부서</td>
							<td th:text="${list.position.label}">직급</td>
							<td th:text="${list.extension}">내선번호</td>
							<td th:text="${list.mainWork}">주업무</td>							
							<td style="color: rgb(1, 20, 190)" th:if="${list.empGrade == null}" th:text="평가안함">등급</td>
							<td th:if="${list.empGrade != null}" th:text="${list.empGrade}" >등급</td>
							<td>
								<a th:href="|/personnelEva/${list.no}|">인사평가</a>					
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>
</main>
</html>
