@charset "UTF-8";
.right {
	justify-content: flex-end;
}
.Eva-1{
	padding: 1.5em;
}
.Eva-logo{
	padding: 10px;
    display: inline-block;
    background-color: #4b99da;
    border-radius: 15px;
    font-size: 20px;
    color: white;
}
.Eva-2{
	padding: 20px;
}
.Eva-span1{
	font-size: 16px;
	color: #817e83;
	font-weight: 600;
}
.Eva-span2{
	padding-left: 10px;
}
.Eva-table{
	padding: 10px;
	border-collapse: collapse;
	
}
.Eva-table tr th{
	padding: 1.5em;
	border: 3px solid  #bbbbbb;
}
.Eva-all{
	padding-top: 3em;
}
.Eva-button{
	padding-top: 3em;
}
.Eva-button input{
	background: #4b99da;
	padding: 10px;
	border:none;
	border-radius: 25px;
	color: #f0f0f0;
	font-weight: 600;
	font-size: 16px;
}
.Eva-button2{
	padding-left: 10px;
}
th select option, div input{
	text-align: center;
}

.back-1{
	 padding-bottom: 10px;
	 color: #4b99da;
}
