<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" 
xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
th:replace="layout/layout :: layout(~{this::head}, ~{this::main})">
<head>
	<meta charset="UTF-8">
	<title>근태리스트</title>
	<link rel="stylesheet" href="/css/attendance/my-attendance.css">
</head>
<main>
	<!-- 230104 한아 작성 230111 안나 thymeleaf 수정 -->
	<th:block th:insert="~{/layout/sideMenu :: header}" />
	<div class="wrap list-1">
		<section>
			<div class="flex center title">
				<p>내 근태 및 휴가</p>
			</div>
			<div class="flex att-btn">
				<button><span class="small-circle-selected"></span>근태</button>
				<a><button onclick="location.href = 'myWorkingDay'"><span class="small-circle"></span>근무</button>
				<button onclick="location.href = 'myDayOff'"><span class="small-circle"></span>휴가</button>
			</div>
			<div class="flex center back-list">
				<table class="list-table">
					<thead>
						<tr class="list-2">
							<th></th>
							<th>일자</th>
							<th>출근시간</th>
							<th>퇴근시간</th>
							<th>일근무시간</th>
							<th>지정근무시간</th>
							<th>근태항목</th>
							<th>휴가기간</th>
							<th>휴가일수</th>
							<th>적요</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="myAttList:${myAttList}">
							<td th:text="${myAttListStat.count}">4</td>
							<td th:text="${myAttList.date}">2023-01-09</td>
							<td th:text="${#temporals.format(myAttList.clockIn, 'HH:mm:SS')}"></td>
							<td th:text="${#temporals.format(myAttList.clockOut, 'HH:mm:SS')}"></td>
							<td th:text="${myAttList.workingHour}"></td>
							<td th:text="${myAttList.designatedWorkingHour}"></td>
							<td th:text="${myAttList.status}">휴가</td>
							<td>2023-01-09 ~ 2023-01-11</td>
							<td>3</td>
							<td>우수사원포상휴가</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>
</main>
</html>