@charset "EUC-KR";

.wrap-regist div p {
	padding: 10px;
    display: inline-block;
    background-color: #4b99da;
    border-radius: 15px;
    font-size: 20px;
    color: white;
}

tr.form {
	background: #a4cdf2;
	color: white;
}



table.new {
	border: 3px solid #a4cdf2; border-collapse: collapse;
	
} 

tr, td {
	border: 1px solid #a4cdf2; padding:7px 2px;
	}
	
