@charset "UTF-8";

main{/* 해상도가 달라질때마다 너무 이동하길래! 쌤한테 물어보고 고쳤습니다!  */
	min-height: 100vh;
	display: flex;
}
header{ /* 고쳤습니다!  */
	height : 100vh;
	background-color: green;
}

header>.wrap{
	width:200px;
	background-color: #008000;
	color : #fff;
	padding: 10px 20px;
	height: 120%;
}

.menuForm{
	margin-left: -20px;
}
.menuForm>li:nth-child(2){
	font-size:20px;
	font-weight: bold;
}
header>.wrap a{
	color : #fff;
}

header>.wrap ul>li{
	margin-top: 20px;
}

header>.wrap ul>li dl>dt{
	font-weight: 700;
	color: rgba(255,255,255,60%);;
	border-bottom: 1px dotted rgba(255,255,255,60%);
	padding: 0.5em 0;
	cursor: pointer;
}

header>.wrap ul>li dl>dd{
	font-size: 14px;
	padding-left: 0.3em 0 0.3em 10px;
}

.menuList dt{
	margin-bottom: 10px;
}

.menuList dd{
	margin-bottom: 10px;
}
